In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Airbnb_Open_Data.csv")
data = df
df.head()

C:\Users\shkus\AppData\Local\Temp\ipykernel_12504\1255255914.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [3]:
df.columns
# df.info()

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [4]:
df_to_drop = ['reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', #'license' 
        'id']

df_to_keep =['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review']

len(df_to_drop)

6

In [5]:
len(df_to_keep)

19

# 1st Method Filtering Data

In [6]:
df1 = df[df_to_keep]
print(df1)

                                                    NAME      host id  \
0                     Clean & quiet apt home by the park  80014485718
1                                  Skylit Midtown Castle  52335172823
2                    THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3                                                    NaN  85098326012
4       Entire Apt: Spacious Studio/Loft by central park  92037596077
...                                                  ...          ...
102594                        Spare room in Williamsburg  12312296767
102595                     Best Location near Columbia U  77864383453
102596                    Comfy, bright room in Brooklyn  69050334417
102597                  Big Studio-One Stop from Midtown  11160591270
102598                              585 sf Luxury Studio  68170633372

       host_identity_verified    host name neighbourhood group  \
0                 unconfirmed     Madaline            Brooklyn
1                    verified        Jenna           Manhattan
2                         NaN        Elise           Manhattan
3                 unconfirmed        Garry            Brooklyn
4                    verified       Lyndon           Manhattan
...                       ...          ...                 ...
102594               verified         Krik            Brooklyn
102595            unconfirmed        Mifan           Manhattan
102596            unconfirmed        Megan            Brooklyn
102597            unconfirmed  Christopher              Queens
102598            unconfirmed      Rebecca           Manhattan

              neighbourhood       lat      long        country country code  \
0                Kensington  40.64749 -73.97237  United States           US
1                   Midtown  40.75362 -73.98377  United States           US
2                    Harlem  40.80902 -73.94190  United States           US
3              Clinton Hill  40.68514 -73.95976  United States           US
4               East Harlem  40.79851 -73.94399  United States           US
...                     ...       ...       ...            ...          ...
102594         Williamsburg  40.70862 -73.94651  United States           US
102595  Morningside Heights  40.80460 -73.96545  United States           US
102596           Park Slope  40.67505 -73.98045  United States           US
102597     Long Island City  40.74989 -73.93777  United States           US
102598      Upper West Side  40.76807 -73.98342  United States           US

       instant_bookable cancellation_policy        room type  \
0                 False              strict     Private room
1                 False            moderate  Entire home/apt
2                  True            flexible     Private room
3                  True            moderate  Entire home/apt
4                 False            moderate  Entire home/apt
...                 ...                 ...              ...
102594            False            flexible     Private room
102595             True            moderate     Private room
102596             True            moderate     Private room
102597             True              strict  Entire home/apt
102598            False            flexible  Entire home/apt

        Construction year    price service fee  minimum nights  \
0                  2020.0    $966        $193             10.0
1                  2007.0    $142         $28             30.0
2                  2005.0    $620        $124              3.0
3                  2005.0    $368         $74             30.0
4                  2009.0    $204         $41             10.0
...                   ...      ...         ...             ...
102594             2003.0    $844        $169              1.0
102595             2016.0    $837        $167              1.0
102596             2009.0    $988        $198              3.0
102597             2015.0    $546        $109              2.0
102598             2010.0  $1,032        $206              1.0

        number of reviews last review
0                     9.0  10/19/2021
1                    45.0   5/21/2022
2                     0.0         NaN
3                   270.0    7/5/2019
4                     9.0  11/19/2018
...                   ...         ...
102594                0.0         NaN
102595                1.0    7/6/2015
102596                0.0         NaN
102597                5.0  10/11/2015
102598                0.0         NaN

[102599 rows x 19 columns]

# 2nd Method Droping Columns

In [7]:
data.drop(columns=df_to_drop , inplace=True)
data

,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,license
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,NaN
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,NaN
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN,NaN
102595,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015,NaN
102596,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN,NaN
102597,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015,NaN
102598,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN,NaN

# Renaming Columns

In [8]:
df.rename(columns={"NAME": "Name"} , inplace=True)
df

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,license
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,NaN
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,NaN
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN,NaN
102595,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015,NaN
102596,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN,NaN
102597,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015,NaN
102598,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN,NaN

In [9]:
new_columns_names = []
for i in df:
    new_columns_names.append(i.upper())

In [10]:
new_columns_names

['NAME',
 'HOST ID',
 'HOST_IDENTITY_VERIFIED',
 'HOST NAME',
 'NEIGHBOURHOOD GROUP',
 'NEIGHBOURHOOD',
 'LAT',
 'LONG',
 'COUNTRY',
 'COUNTRY CODE',
 'INSTANT_BOOKABLE',
 'CANCELLATION_POLICY',
 'ROOM TYPE',
 'CONSTRUCTION YEAR',
 'PRICE',
 'SERVICE FEE',
 'MINIMUM NIGHTS',
 'NUMBER OF REVIEWS',
 'LAST REVIEW',
 'LICENSE']

In [11]:
new_df_to_modify = df.copy()
new_df_to_modify.columns = new_columns_names
new_df_to_modify

,NAME,HOST ID,HOST_IDENTITY_VERIFIED,HOST NAME,NEIGHBOURHOOD GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY CODE,INSTANT_BOOKABLE,CANCELLATION_POLICY,ROOM TYPE,CONSTRUCTION YEAR,PRICE,SERVICE FEE,MINIMUM NIGHTS,NUMBER OF REVIEWS,LAST REVIEW,LICENSE
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,NaN
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,NaN
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN,NaN
102595,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015,NaN
102596,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN,NaN
102597,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015,NaN
102598,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN,NaN

In [12]:
df.duplicated().value_counts()

False    102058
True        541
Name: count, dtype: int64

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.duplicated().sum()

np.int64(0)

## Droping NAN numbers

In [15]:
df.isna().sum()

Name                         250
host id                        0
host_identity_verified       289
host name                    404
neighbourhood group           29
neighbourhood                 16
lat                            8
long                           8
country                      532
country code                 131
instant_bookable             105
cancellation_policy           76
room type                      0
Construction year            214
price                        247
service fee                  273
minimum nights               400
number of reviews            183
last review                15832
license                   102056
dtype: int64

In [16]:
df.drop(columns=["last review"] , inplace=True)

In [17]:
df.isna().sum()

Name                         250
host id                        0
host_identity_verified       289
host name                    404
neighbourhood group           29
neighbourhood                 16
lat                            8
long                           8
country                      532
country code                 131
instant_bookable             105
cancellation_policy           76
room type                      0
Construction year            214
price                        247
service fee                  273
minimum nights               400
number of reviews            183
license                   102056
dtype: int64

In [18]:
df.dropna(inplace=True)

In [19]:
df.isna().sum()

Name                      0
host id                   0
host_identity_verified    0
host name                 0
neighbourhood group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country code              0
instant_bookable          0
cancellation_policy       0
room type                 0
Construction year         0
price                     0
service fee               0
minimum nights            0
number of reviews         0
license                   0
dtype: int64

## Targeting/Modifying Single Column

In [20]:
df["host_identity_verified"] = df["host_identity_verified"].str.upper()
df

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,license
11114,"Cozy 1 BR on Bedford Avenue, Wburg",73023181304,VERIFIED,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,US,True,strict,Private room,2010.0,$702,$140,1.0,1.0,41662/AL
72947,"Cozy 1 BR on Bedford Avenue, Wburg",25804773951,UNCONFIRMED,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,US,True,flexible,Private room,2010.0,$702,$140,1.0,1.0,41662/AL

In [21]:
df["instant_bookable"].apply(lambda x : 1 if x== True else 0)

11114    1
72947    1
Name: instant_bookable, dtype: int64

In [22]:
df["instant_bookable"] = df["instant_bookable"].apply(lambda x : 1 if x== True else 0)
df.reset_index(inplace=True)

In [23]:
type(df["instant_bookable"][15])

KeyError: 15

### Updating DataType

In [ ]:
df["price"].head(3)

0    $966
1    $142
2    $204
Name: price, dtype: object

In [ ]:
df["price"]=df["price"].str.replace("$" , "")

In [ ]:
df["price"] = df["price"].str.replace("," , "")

In [ ]:
df["price"]= df["price"].str.replace(" " , "")

In [ ]:
type(df["price"])

pandas.core.series.Series

In [ ]:
df["price"] = df["price"].astype(int)

In [ ]:
df["price"]

0         966
1         142
2         204
3         577
4        1060
         ...
99337     822
99338     455
99339    1078
99340     103
99341     982
Name: price, Length: 99342, dtype: int64

In [ ]:
df

,level_0,index,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews
0,0,0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,966,193,10.0,9.0
1,1,1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,142,28,30.0,45.0
2,2,4,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,204,41,10.0,9.0
3,3,5,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,flexible,Entire home/apt,2013.0,577,115,3.0,74.0
4,4,7,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,1060,212,45.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99337,99337,102029,Cozy room in a 2B with backyard access,5155155913,UNCONFIRMED,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,0,flexible,Private room,2018.0,822,164,1.0,9.0
99338,99338,102030,An East Williamsburg Delight,71564706996,VERIFIED,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,1,moderate,Private room,2015.0,455,91,4.0,36.0
99339,99339,102031,Cozy bedroom in williamsburg,83101851929,VERIFIED,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,1,flexible,Private room,2020.0,1078,216,1.0,58.0
99340,99340,102032,Spacious Room w/ 2 Bed,69037598918,UNCONFIRMED,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,0,moderate,Private room,2007.0,103,21,7.0,40.0
99341,99341,102040,"Room in Queens, NY, near LGA.",56457739998,VERIFIED,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,1,strict,Private room,2022.0,982,196,1.0,239.0

In [ ]:
df["service fee"] = df["service fee"].str.replace("$" , "")
df["service fee"] = df["service fee"].str.replace("," , "")
df["service fee"] = df["service fee"].str.replace(" " , "")
# replacements = {
#     "$" : "",
#     "," : "",
#     " " : ""
# }

# for old , new in replacements.items():
#     df["service fee"] = df["service fee"].str.replace(old , new) #............ this wont work cz column has diff DT

AttributeError: Can only use .str accessor with string values!

In [ ]:
df["service fee"] = df["service fee"].astype(int)

In [ ]:
df["service fee"]

0        193
1         28
2         41
3        115
4        212
        ...
99337    164
99338     91
99339    216
99340     21
99341    196
Name: service fee, Length: 99342, dtype: int64

In [ ]:
df

,level_0,index,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews
0,0,0,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,966,193,10.0,9.0
1,1,1,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,142,28,30.0,45.0
2,2,4,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,204,41,10.0,9.0
3,3,5,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,flexible,Entire home/apt,2013.0,577,115,3.0,74.0
4,4,7,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,1060,212,45.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99337,99337,102029,Cozy room in a 2B with backyard access,5155155913,UNCONFIRMED,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,0,flexible,Private room,2018.0,822,164,1.0,9.0
99338,99338,102030,An East Williamsburg Delight,71564706996,VERIFIED,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,1,moderate,Private room,2015.0,455,91,4.0,36.0
99339,99339,102031,Cozy bedroom in williamsburg,83101851929,VERIFIED,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,1,flexible,Private room,2020.0,1078,216,1.0,58.0
99340,99340,102032,Spacious Room w/ 2 Bed,69037598918,UNCONFIRMED,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,0,moderate,Private room,2007.0,103,21,7.0,40.0
99341,99341,102040,"Room in Queens, NY, near LGA.",56457739998,VERIFIED,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,1,strict,Private room,2022.0,982,196,1.0,239.0

In [29]:
df.drop(columns= ["index"] , inplace=True)

KeyError: "['index'] not found in axis"

## Saving to CSV

In [30]:
df.to_csv("cleaned_data.csv")

In [31]:
pd.read_csv("cleaned_data.csv")

,Unnamed: 0,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,license
0,0,"Cozy 1 BR on Bedford Avenue, Wburg",73023181304,VERIFIED,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,US,1,strict,Private room,2010.0,$702,$140,1.0,1.0,41662/AL
1,1,"Cozy 1 BR on Bedford Avenue, Wburg",25804773951,UNCONFIRMED,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,US,1,flexible,Private room,2010.0,$702,$140,1.0,1.0,41662/AL

In [32]:
df.to_csv("cleaned_data_without_index" , index=False)

In [33]:
pd.read_csv("cleaned_data_without_index").head()

,Name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,license
0,"Cozy 1 BR on Bedford Avenue, Wburg",73023181304,VERIFIED,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,US,1,strict,Private room,2010.0,$702,$140,1.0,1.0,41662/AL
1,"Cozy 1 BR on Bedford Avenue, Wburg",25804773951,UNCONFIRMED,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,US,1,flexible,Private room,2010.0,$702,$140,1.0,1.0,41662/AL